* {
  box-sizing: border-box;
  font-family: "Domine"; }

  @font-face {
    font-family: "Domine";
    src: url ("https://fonts.google.com/specimen/Domine"); }

header {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%)
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 1em }

.subtitle {
  font-weight: bold;
  padding-left: 0.5em;
}

.navBar {
  display: flex;
  justify-content: center;
}

.navBar a {
  padding: 1em;
  color: black;
  text-decoration: none;
  font-size: 120%;
}

.navBar a:visited {
  text-decoration: none;
}

.card {
  width: 18rem;
  display: inline-block;
  
  margin: 1em;
}

.btn {
  background-color: #ff9a9e;
  border-color: #ff9a9e;
  margin: 0.5em; 
}

.btn:hover{
  background-color: #ff8488;
  border-color:#ff8488 ;
}
.btn a {
  text-decoration: none;
  color: #3b3b3b; }

.button a:visited {
  text-decoration: none; }

.card-title {
  white-space: nowrap;
}

footer {
  background-image: linear-gradient(-45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); }